/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body{
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background: linear-gradient(#009688 120px, #dadbd3 0);
}

i{
    cursor: pointer;
}

/* Main */
.container{
    max-width: 1500px;
    height: 100%;
    margin: auto;
    padding: 25px 0;
}

.main-app{
    height: 100%;
    display: flex;
}

.main-app__top{
    height: 65px;
    background-color: #eaeaea;
    padding: 0 15px;
    border-right: 1px solid #d6d6d6;
}

.main-app__avatar, .main-app__buttons{
    display: flex;
    align-items: center;
    height: 100%;
}

.main-app__username{
    flex-grow: 1;
    margin: 0 8px;
}

.main-app__photo, .notification__logo{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.main-app__photo img{
    height: 100%;
}

.main-app__buttons{
    color: #b1b1b1;
    font-size: 1.125rem;
}

.main-app__buttons i{
    margin-right: 13px;
}


/* Aside */

.main-app__aside{
    background-color: #fff;
    width: 450px;
}

.notification{
    display: flex;
    height: 80px;
    background-color: #8edafc;
    align-items: center;
    padding: 0 15px;
}

.notification__logo{
    line-height: 50px;
    text-align: center;
    background-color: #f2fbff;
    color: #8edafc;
}

.notification__text{
    margin-left: 8px;
}

.notification__text a{
    color: #557e91;
    font-size: 0.75rem;
}

.search{
    height: 50px;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    background-color: #fafafa;
}

.search input{
    flex-grow: 1;
    padding: 3px 5px;
    border: none;
    border-left: 1px solid #d6d6d6;
}

.search button{
    height: 25px;
    padding: 0 15px;
    background-color: #fff;
    border: none;
    color: #b6b9bb;
}

.main-app__chat-list{
    height: calc( 100% - 195px);
    overflow-y: auto;
}
.chat-instance{
    height: 85px;
    display: flex;
    background-color: #ffffff;
    align-items: center;
    border-bottom: 1px solid #e9ebeb;
    padding: 3px 15px;
}

/* Core App */

.main-app__core{
    width: 1050px;
}

.chat{
    background-image: url("../img/mine.jpg");
    background-repeat: repeat;
    height: calc( 100% - 65px);
    display: flex;
    flex-direction: column;
}

.write-message{
    align-self: flex-end;
    display: flex;
    padding: 5px 10px;
    background-color: #f3eeea;
    height: 70px;
    align-items: center;
    width: 100%;
}

.write-message i{
    color: #6b7376;
    margin: 0 25px;
    padding: 0 4px;
    font-size: 1.125rem;
}

.write-message input{
    height: 50px;
    border: none;
    border-radius: 10px;
}

.new-message{
    flex-grow: 1;
    margin: 0 5px;
    padding: 3px 10px;
}

.messages{
    display: flex;
    flex-direction: column;
    height: calc( 100% - 70px);
    padding: 50px 100px 0 100px;
    overflow-y: auto;

}

.message{
    padding: 15px 5px 5px 15px;
    margin: 5px;
    max-width: 320px;
    min-width: 250px;
    border-radius: 8px;
    font-size: 0.875rem;
}

.received{
    align-self: flex-start;
    background-color: #fff;
}

.sent{
    align-self: flex-end;
    background-color: #d5f9ba;
}

.message-time{
    font-size: 0.5rem;
    color: #b8bfbb;
    text-align: right;
    margin-top: 5px;
}