<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
        <!-- /Google fonts -->
        
        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- /Fontawesome -->

        <title>Boolzapp Vue</title>

        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>

        <div class="container" id="root">
            <div class="main-app">
                <!-- Aside -->
                <div class="main-app__aside">
                    <!-- top section in which we show user name and profile pic -->
                    <div class="main-app__top">
                        <div class="main-app__avatar">
                            <div class="main-app__photo">
                                <img src="./img/avatar_io.jpg" alt="User Profile Pic">
                            </div>
                            <div class="main-app__username">Nome Utente</div>
                            <div class="main-app__buttons">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </div>
                    <!-- /top section in which we show user name and profile pic -->

                    <!-- Notification Alert -->
                    <div class="notification">
                        <div class="notification__logo">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div class="notification__text">
                            <p>Ricevi notifiche di nuovi messaggi</p>
                            <a href="#">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- /Notification Alert -->

                    <!-- Search in chat -->
                    <div class="search">
                        <button><i class="fas fa-search"></i></button>
                        <input type="text" id="" placeholder="Cerca o inizia una nuova chat" v-model="searchInput" @input="isVisible">

                    </div>
                    <!-- /Search in chat -->

                    <!-- List of all avaible chats -->
                    <div class="main-app__chat-list">
                        <ul class="chat-list">
                            <!-- TODO single instance, it has to become dynamic -->
                            <li class="chat-instance" v-for="(contact, index) in contacts" :key="index" :class="{ active : index == isClicked}" @click="isClicked = index" v-show="contact.visible">
                                <div class="main-app__photo">
                                <img :src="`./img/avatar${contact.avatar}.jpg`">
                                </div>
                                <div class="chat__text">
                                    <div class="chat__username">{{contact.name}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- /List of all avaible chats -->
                </div>
                <!-- /Aside -->

                <!-- Core App -->
                <div class="main-app__core">

                    <!-- top section in which we show name and profile pic of the one we're chatting with-->
                    <div class="main-app__top">
                        <!-- This change with selected chat -->
                        <div class="main-app__avatar">
                            <div class="main-app__photo">
                                <!-- TODO think a way to show a starting image before first chat selection. The image will cover the entire chat window -->
                                <img :src="`./img/avatar${contacts[isClicked].avatar}.jpg`">
                            </div>
                            <div class="main-app__username">{{contacts[isClicked].name}}</div>
                            <div class="main-app__buttons">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>

                            </div>
                        </div>
                    </div>
                    <!-- /top section in which we show name and profile pic of the one we're chatting with-->

                    <!-- Chat section -->
                    <div class="chat">
                        <!-- display current chat messages -->
                        <div class="messages">
                            <div class="message" v-for="(txtmessage, index) in contacts[isClicked].messages" 
                                :key="index" 
                                :class="txtmessage.status" 
                                @click="showMenu(index)"
                                @mouseleave="messageClicked = undefined">
                                <div class="message-text">
                                    {{txtmessage.message}}
                                </div>
                                <div class="message-time">
                                    {{txtmessage.date}}
                                </div>
                                <div class="message__menu" v-if="messageClicked == index">
                                    <div class="message__option">
                                        Info messaggio
                                    </div>
                                    <div class="message__option" @click="removeMessage(index)">
                                        Elimina messaggio
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /display current chat messages -->

                        <!-- Where you can write yuor new message -->
                        <div class="write-message">
                            <i class="far fa-smile"></i>
                            <input type="text" placeholder="Scrivi un messaggio" class="new-message" v-model="newMessage" v-on:keyup.enter="addSentMessage(), guestAnswer()">
                            <i class="fas fa-microphone"></i>
                        </div>
                        <!-- /Where you can write yuor new message -->
                    </div>
                    <!-- /Chat section -->

                </div>
                <!-- /Core App -->


            </div>
        </div>

        <!-- Day.js -->
        <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
        <!-- /Day.js -->

        <!-- VueJS -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- /VueJS -->
        <script src="./js/main.js"></script>
        
    </body>
</html>